

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font_STD {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.header {
    margin: 0 0 0 0;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.header_nav {
    margin: calc(20 / 1084)px 0 0 calc(21.5 / 1965)px;
    flex-direction: row;
}

.header_nav_list {
    list-style-type: none;
}

.header_nav_list_member {
    align-items: center;
    justify-content: center;
    width: calc(300 / 1965);
    font-size: calc(32 / 100);
    font-weight: 400;
    border-left: black solid calc(3 / 100)px;
}

.header_nav_list_member:visited {
    color: black
}

.header_nav_dapurKita {
    font-weight: 700;
    font-size: calc(96/100px);
}

























