

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.font_STD {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align_down {
    flex-direction: row;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.header_nav {
    margin: 1.845vh 0 0 1.094vw;
    flex-direction: row;
    justify-content: space-between;
    height: 5.9vh;
    align-items: center;
}

.header_nav_list {
    list-style-type: none;
}

.header_nav_list_member {
    align-items: center;
    justify-content: center;
    width: 15.27vw;
    font-size: 2rem;
    font-weight: 400;
    border-left: black solid clamp(1px, 3px, 5px);
}

.header_nav_list_member_content {
    
}

.header_nav_list_member_content:visited {
    color: black;
}

.header_nav_list_member_content:active {
    color: black;
}

.header_nav_dapurKita {
    font-weight: 700;
    font-size: 6rem;
}

.header_img {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 5.9vh;
}

.auto_crop_img {
    width: 100%;
    height: calc(100vh - 14.206vh);
    object-fit: cover;
}

.home_main {
    position: absolute;
    top: 
}





















